.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  backdrop-filter: blur(2px);
  gap: 40px;
  padding: 20px;
}
  
.contact .title-contact h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
}
  
.contact .title-contact h2 span {
  font-weight: 700;
  color: #1177ff;
  filter: drop-shadow(0 0 0.15rem);
}

.contact .contact-container {
  width: 800px
}

.contact .letter-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
  background:rgba(17, 120, 255, 0.14);
  border-radius: 10px;
  box-shadow: 0 2px 5px #1177ff;
}

.contact input {
  width: 90%;
  padding: 10px;
  font-size: .9rem;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.83);
  color: #777;
  transition: all 0.3s ease;
}

.contact textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.83);
  color: #777;
  transition: all 0.3s ease;
}

.contact input:focus {
  border-color: #1177ff;
  outline: none;
  box-shadow: 0 0 10px rgba(17, 119, 255, 0.3);
}

.contact textarea:focus {
  border-color: #1177ff;
  outline: none;
  box-shadow: 0 0 10px rgba(17, 119, 255, 0.3);
}

.contact button {
  padding: 7px 22px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color:rgb(17, 119, 255);
  filter: drop-shadow(0 0 0.2rem #1166ff);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.contact button:hover {
  background-color: #1170ff;
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.5rem #1166ff);
}

.contact .status {
  margin-top: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #1177ff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.contact .status.error {
  background-color: #ff4d4d;
}

@media (max-width: 768px) {
  .contact form {
    padding: 15px;
  }
  .letter-contact {
    width: 400px;
  }

  .contact .title-contact h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 480px) {
  .contact form {
    padding: 10px;
  }

  .letter-contact {
    width: 250px;
  }

  .contact .title-contact h2 {
    font-size: 1.8rem;
  }
}
