.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  gap: 40px;
}

.contact .title-contact h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}

.contact .title-contact h2 span {
  color: #1177ff;
  font-weight: 700;
  filter: drop-shadow(0 0 0.15rem);
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 750px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 3px 8px rgba(17, 120, 255, 0.76);
}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact-center {
  content: "";
  width: 2px;
  height: 100px;
  transition: all 0.5s;
  border-radius: 2px;
  background-color:rgba(17, 120, 255, 0.81);
  filter: drop-shadow(0 0 0.5rem #1177ff);;
}

.contact-right {
  display: flex;
  flex-direction: row;
  align-items: flex;
  gap: 15px;
}

.contact-right {
  align-items: center;
  margin-right: 7%;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: .9rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.contact-item:hover {
  transform: scale(1.1);
  color: #1177ff;
}

.contact-item img.flag-icon {
  width: 24px;
  height: 24px;
}

.contact-right img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.contact-right img:hover {
  transform: scale(1.5);
  transition: all 0.3s ease;
}


@media (max-width: 560px) {
  .contact .title-contact h2 {
    font-size: 2rem;
  }

  .contact-item {
    font-size: .6rem;
  }

  .contact-right img {
    width: 26px;
    height: 26px;
  }
}
