@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  font-weight: 400
}

body {
  min-height: 100vh;
  padding: 0 100px;
  background-color: #000000; 
  color: #ffffff;
}

.container-bolhas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1; 
  pointer-events: none;
}

.bolhas {
  position: absolute;
  display: flex;
}

.bolhas span {
  width: 20px;
  height: 20px;
  background: #fff;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #ffffff44, 0 0 50px #fff, 0 0 100px #fff;
  animation: animar calc(400s / var(--i)) linear infinite;
  transition: transform 0.2s ease-out;
}

@keyframes animar {
  0% {
    transform: translateY(-10vh) scale(01);
  }
  100% {
    transform: translateY(100vh) scale(0);
  }
}

.bolhas span:nth-of-type(even) {
  background: #1177ff;
  box-shadow: 0 0 0 10px #1177ff44,
  0 0 50px #1177ff,
  0 0 100px #1177ff;
}

h1, h2 {
  color: #333;
}
  
a {
  text-decoration: none;
  color: #007BFF;
}
  
a:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #1177ff;
}

@media (max-width: 1024px) {
  body {
    padding: 0 50px;
  }

  .bolhas span {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0 20px;
  }

  .bolhas span {
    width: 12px;
    height: 12px;
  }

  h1, h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0 10px;
  }

  .bolhas span {
    width: 10px;
    height: 10px;
  }

  h1, h2 {
    font-size: 1.2rem;
  }
}