* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.home {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 130px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.projects {
  padding: 50px 20px;
  backdrop-filter: blur(10px);
}

@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }

  .skills ul {
    flex-direction: column;
    align-items: center;
  }

  .contact form {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .projects-container {
    grid-template-columns: 1fr;
  }

  .header nav ul {
    flex-direction: column;
    gap: 10px;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 4rem;
  right: 5rem;
  background-color: #1177ff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 35px rgb(22, 142, 255);
  transition: 5s;
  z-index: 1;
  animation: top-down 2s ease-in-out infinite;
}

@keyframes top-down {
  0% {
    bottom: 4rem;
  }
  50% {
    bottom: 2.5rem;
    box-shadow: 0px 0px 15px rgb(22, 142, 255);

  }
}

.scroll-to-top:hover {
  background-color:rgb(17, 140, 255);
  box-shadow: 0px 0px 55px rgb(22, 142, 255);
}

.scroll-to-top:active {
  transform: scale(0.95);
}
