.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  color: #fff;
  text-align: center;
  backdrop-filter: blur(2px);
  gap: 40px;
}
  
.skills .title-skill h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 40px;
  color: #ffffff;
  text-align: right;
}
  
.skills .title-skill h2 span{
  font-weight: 700;
  color: #1177ff;
  filter: drop-shadow(0 0 0.15rem);
}

.scroll{
  position: relative;
  display: flex;
  width: 900px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient (90deg,transparent,#fffff 20%, #fffff 80%, transparent);
  mask-image: linear-gradient(90deg, transparent, #ffffff 20%, #ffffff 80%, transparent);
}

.scroll-item {
  white-space: nowrap;
  animation: animate var(--t) linear infinite;
  animate-delay: calc(var(--t) * -1);
}

.scroll-item:nth-child(2) {
  white-space: nowrap;
  animation: animate var(--t) linear infinite;
  animate-delay: calc(var(--t) * -2);
}

.scroll-item img {
  display: inline-flex;
  padding: 1px;
  margin: 10px;
  width: 55px;
  height: 55px;
  transition: 0.5s;
}

.scroll-item img:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 8px rgb(22, 142, 255);
  border-radius: 50%;
}

@keyframes animate {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(calc(-250px * 5));
  }
}